//! **************************************************************************
// Written by: Map P.20131013 on Thu Jul 04 16:05:48 2019
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

